*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins' 'sans-serif';

}
body{
    background-color: #080808;
    color: #fff;

}
#first{
    width: 100%;
    height: 100vh;
    background-image: url(venky\ photo.jpeg);
    background-size: cover;
    background-position: center;

}