*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins' 'sans-serif';

}
body{
    background-color: #080808;
    color: #fff;

}
#first{
    width: 100%;
    height: 100vh;
    background-image: url(venky\ photo.jpeg);
    background-size: cover;
    background-position: center;

}
.second{
    text-transform: capitalize;
    padding: 15px 10%;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
nav h2{
    font-size: 2em;
    letter-spacing: 2px;
    width: 140px;
}
nav ul li{
    display: inline-block;
    margin: 15px 20px;
    list-style: none;

}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    transition: 0.5s;
}